<!doctype html>

<html>
<head>
	<title>Food Bytes</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/hci-friends.js"></script>

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/foodPorn.css" rel="stylesheet">

</head>

<body>

	<div class="container">

	<div class="navigation navbar-fixed-top">
    	<div class="centered-pills">
			<ul class="nav nav-pills">
				<li><a href="/"><button type="button" class="btn btn-default">Home</button></a></li>
  				<li><a href="/myProfile"><button type="button" class="btn btn-default">My Profile</button></a></li>
  				<li class="selected"><a href="#"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span></button></a></li>
			</ul>	
		</div>
	</div>

	<form id="addFriendForm" action="/upload" method="get" enctype="multipart/form-data">
		<h3>Upload a file or link a URL!</h3>
		<div class="form-group">
	      <label for="image">Image URL:</label>
	      <input type="text" class="form-control" id="image" placeholder="Please give an image URL" name="image">
	    </div>
	    <h3>Details of Picture</h3>
	    <div class="form-group">
	      <label for="name">Name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <div class="form-group">
	    	<label for="recipe">Recipe URL:</label>
	    	<input type="text" class="form-control" id="recipe" placeholder="Please give a recipe URL" name="recipe">
	    </div>
	    <div class="form-group">
	    	<label for="tag">Tags:</label>
	    	<input type="text" class="form-control" id="tag" placeholder="#example" name="tag">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Upload the food!"></input>
	</form>

	</div>
</body>
</html>
