<!doctype html>

<html>
<head>
	<title>Food Bytes</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/hci-friends.js"></script>

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/foodPorn.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class="container">

	<div class="navigation">
    	<div class="centered-pills">
			<ul class="nav nav-pills">
				<li><a href="/"><button type="button" class="btn btn-default">Home</button></a></li>
  				<li><a href="/myProfile"><button type="button" class="btn btn-default">My Profile</button></a></li>
  				<li class="selected"><a href="#"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span></button></a></li>
			</ul>	
		</div>
	</div>

	<form id="addFriendForm" action="/upload" method="POST" enctype="multipart/form-data">
		<h3>Upload a file or link a URL!</h3>
		<div class="form-group">
	      <label for="image">Image URL:</label>
	      <input type="text" class="form-control" id="image" placeholder="Please give an image URL" name="image">
	    </div>
	    <div class="form-group">
	      <label for="name">Name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <div class="form-group">
	    	<label for="recipe">Recipe URL:</label>
	    	<input type="text" class="form-control" id="recipe" placeholder="Please give a recipe URL" name="recipe">
	    </div>
	    <div class="form-group">
	    	<label for="tag">Tags:</label>
	    	<input type="text" class="form-control" id="tag" placeholder="#example" name="tag">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Upload the food!"></input>
	</form>

	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48516049-2', 'foodbytes.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
